// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* _misc.scss */

body {
  color: $darker;
}
div {
  min-width: 99px;
}

ul {
  margin: 0;
  padding: 1%;
  text-align: center;
}
li {
  background-color: azure;
  display: inline-block;
  height: 300px;
  margin: 1%;
  padding: 0;
  text-align: left;
  width: 300px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
