// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* _misc.scss */

body {
  color: $darker;
}

ul {
  margin: 0;
  padding: 1%;
  text-align: center;
}
li {
  display: inline-block;
  margin: 1%;
  padding: 0;
  width: 200px;
}

.ani {
  transition: height 0.25s;
}

.choice {
  height: 150px;
  text-align: left;
  vertical-align: top;
}

.target {
  background-color: white;
  box-shadow: 0px 0px 1px gray;
  cursor: pointer;
  .expanded & {
    cursor: default;

    &::after {
      background-color: inherit;
      border-radius: 0 0 1em 1em;
      box-shadow: 0px 1px 1px gray;
      content: ' ';
      height: 6%;
      left: 49%;
      position: absolute;
      text-align: center;
      top: 100%;
      width: 4%;
      z-index: 2;
    }
  }
}

.content {
  background-color: white;
  box-shadow: 0px 0px 2px gray;
  height: 300px;
  left: 0;
  margin-top: 0.3%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.closer {
  color: gray;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  &:hover {
    color: black;
  }
  &::after {
    content: '×';
    display: block;
    font-size: 33px;
    height: 33px;
    width: 33px;
  }
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
