// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* _misc.scss */

body {
  color: $darker;
}

#Expander {

  #grid-preview {
    .panel-cell-style > .widget {
      display: inline-block;
      height: 150px;
      margin: 1%;
      width: 200px;
    }
  }
  #grid-content {
    display: none;
  }

}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
