// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* _Social.scss */

.Social {
  text-align: center;

  a {
    margin: 0 0.75em;
    + a {
      margin-left: 0;
    }
  }
  .svg {
    height: 22px;
    vertical-align: middle;
    width: 22px;
  }

  .thin {
    background-color: gray;
    display: inline-block;
    line-height: 1.5;
    margin: 0 1em;
    width: 1px;
  }

}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
