// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* _expander.scss */

.ex-ani {
  transition: height 0.25s; /* or something */
}
.ex-content {
  height: 300px; /* or something */
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.ex-closer {
  color: gray; /* or something */
  cursor: pointer;
  font-size: 3em; /* or something */
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  &:hover {
    color: black; /* or something */
  }
  &::after {
    content: '×';
    display: block;
    height: 1em;
    width: 1em;
  }
}

/* OPTIONAL */

.ex-content {
  background-color: white;
  box-shadow: 0px 0px 2px gray;
  margin-top: 0.3%;
}
.ex-target {
  background-color: white;
  box-shadow: 0px 0px 1px gray;
  cursor: pointer;
  position: relative;;

  .ex-panded & {
    cursor: default;
    &::after {
      background-color: inherit;
      border-radius: 0 0 1em 1em;
      box-shadow: 0px 1px 1px gray;
      content: ' ';
      height: 6%;
      left: 49%;
      position: absolute;
      text-align: center;
      top: 100%;
      width: 4%;
      z-index: 2;
    }
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
