// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* _expander.scss */

.ex-ani, .ex-wrap {
  transition: height 0.25s;
}
.ex-closer {
  color: gray;
  display: none;
  cursor: pointer;
  line-height: 0.5;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 999;
  &:hover, &:focus {
    color: black;
  }
  &::before {
    content: '×';
    font-size: 3rem;
    width: 1em;
  }
  .ex-panded & {
    display: block;
  }
}
.ex-reveal {
  height: 1px; /* or something */
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 101;
}
.ex-target {
  cursor: pointer;
  position: relative;

  .ex-panded & {
    cursor: default;
    &::after {
      /* arrow indicator */
      background-color: inherit;
      bottom: -1rem;
      content: ' ';
      height: 3rem;
      left: 45%;
      line-height: 1;
      position: absolute;
      text-align: center;
      top: auto; // msie!
      transform: rotate(45deg);
      width: 3rem;
      z-index: 102;
    }
  }
}

/* OPTIONAL */

.ex-reveal, option.al {
  align-items: center;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  margin-top: 0.5%;
}
.ex-target, option.al {
  background-color: #eee;
}
.ex-wrap {
  vertical-align: top;

  .ada, :focus::after {
    display: initial !important;
    height: 1px;
    left: -5000px;
    overflow: hidden;
    position: absolute;
    top: 0;
    visibility: visible !important;
    width: 1px;
  }
  :focus::after {
    content: ' Selected';
  }
}

/* OVERRIDES */

.home {
  #grid-preview {

    .ex-reveal {
      margin-top: 0.3%;

      .so-panel {
        flex-basis: 768px;
        padding: 4rem;
      }
      .widget_sow-hero {
        flex: 1;
        max-width: 768px;
        z-index: 103;
      }
    }
    .ex-panded {
      .so-widget-sow-hero {
        position: relative;
        z-index: 103;
      }
    }

  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
