// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* _loader.scss */

body {
  background: url('../images/stock/loading.gif') 50% 40% no-repeat;
  &.loading {
    background: url('../images/stock/loader.gif') 50% 40% no-repeat;
    background-size: 25%;
    position: fixed;
    * {
      opacity: 0.5;
    }
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
