// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* modal.scss */

.modal {
  background-color: rgba(33, 33, 33, 0.9);
  display: none;
  z-index: 1000;
  /* cover */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  * {
    max-width: 100%;
  }
  &.active {
    // scss-lint:disable ImportantRule
    display: block !important;
  }
  > div {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 24px -4px black;
    display: block;
    z-index: 1100;
    /* centify */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 960px;
    height: 540px;

    a.closer {
      background-color: #333;
      border: 2.5px solid #eee;
      border-radius: 2em;
      box-shadow: 1px 2px 3px black;
      color: #eee;
      height: 2.5em;
      line-height: 0;
      position: absolute;
      right: -1.25em;
      text-decoration: none;
      top: -1.25em;
      width: 2.5em;
      text-align: center;
      z-index: 999999;
      &:hover {
        background-color: #ae1e23;
      }
      &::before {
        content: '×';
        font-size: 1.5em;
        font-weight: 600;
        height: 1.5em; width: 1.5em;
        line-height: 1.4;
      }
    }
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
// CUSTOM
//`Offsite Interstitial Dialog`

// scss-lint:disable MergeableSelector
.modal {
  .dialog {
    border: 4px solid #807f7d;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 0 1.5em;
    width: 32em; height: 34em;
    .mobi & {
      font-size: 1.4em;
    }
  }
  .dialog .content {
    height: 18em;
  }
  .dialog .content h2 {
    color: #444;
    font-family: Verdana, Arial, sans-serif;
    font-size: 115%;
    font-weight: bold;
    margin: 0 0 1em;
  }
  .dialog .footer {
    height: 3em;
    margin: 0;
    padding: 2em 0;
    text-align: right;
    a {
      margin-left: 1.5em;
    }
  }
  .dialog .header {
    border-bottom: 3px solid #dfdfdf;
    margin: 0 0 2em;
    padding: 2em 0 1em;
    text-align: left;
    .logo {
      height: 4em;
      width: 4em;
    }
  }
  .dialog .utilitybtn {
    background-color: #5174b8;
    background-image: linear-gradient(top, #5174b8 0, #3d62a3 50%, #335898 52%, #244a87 100%);
    border: 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline;
    font-weight: 700;
    margin-right: 0.5em;
    overflow: visible;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    white-space: nowrap;
    z-index: 1;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
