#Grocer.boxy
  strong Grocer
  ul
    li
      a(href='./scripts/grocer.js' target='_blank') grocer.js

  button(onclick='try{ _groc.test(1) }catch(z){}')   test1
  button(onclick='try{ _groc.test(2) }catch(z){}')   test2

///_grocer.pug
