header
  div
    img.svg.logo(alt='Wells Fargo',
    style='margin-right: 2rem; height: 5rem; width: 5rem;',
    src='./images/stock/wf-square.svg')
    h1.inline Template | Spring 2016
  .Social
    a(href="#", class="printLink")
      img.svg(style='color: #666;', src='./images/stock/icons/print.svg', alt='sharing')
    span Print
    span.thin  
    span Share
    a(href="#", class="facebookLink")
      img.svg(style='color: #666;', src='./images/stock/icons/facebook.svg', alt='facebook')
    a(href="#", class="twitterLink")
      img.svg(style='color: #666;', src='./images/stock/icons/twitter.svg', alt='twitter')
    a(href="#", class="gplusLink")
      img.svg(style='color: #666;', src='./images/stock/icons/gplus.svg', alt='gplus')
    a(href="#", class="mailLink")
      img.svg(style='color: #666;', src='./images/stock/icons/mail.svg', alt='mail')
  //

header.mobile
  div
    img.logo.svg(alt="Wells Fargo",
    style='color: #FCC60A; height: 1.5rem;',
    src="./images/stock/wf-oneline.svg")
  h1.inline Template
