header
  div
    img.svg.logo(alt='Wells Fargo',
    style='margin-right: 2rem; height: 5rem; width: 5rem;',
    src='./images/stock/wf-square.svg')
    h1.inline Tempkit &nbsp;|&nbsp; Summer 2016

header.mobile
  div
    img.logo.svg(alt="Wells Fargo",
    style='color: #FCC60A; height: 1.5rem;',
    src="./images/stock/wf-oneline.svg")
  h1.inline Tempkit

///_header.pug
