script
  | _shim = (location.hash.toLowerCase() === '#shim');
  | if (_shim) {
  |   document.write('<'+'script src="./vendors/jquery/jquery.js"><\/'+'script>');
  |   document.write('<'+'script src="./scripts/libs/jq-xtn.js"><\/'+'script>');
  | }
  | var z = ['<'+'script data-main="./config" src="./', '?', '.js"><\/'+'script>'];
  | z[1] = (_shim ? 'scripts/' + (_main || '_main') : 'vendors/require.js/require');
  | document.write(z.join(''));
