#Xyz
  strong Live stuff
  ul
    li expander
      a(href='//wellsfargomedia.com/lib/dev/expander.css' target='code') .css
      a(href='//wellsfargomedia.com/lib/dev/expander.js' target='code')  .js
    li revealer
      a(href='//wellsfargomedia.com/lib/dev/revealer.js' target='code')  .js
    li interstitial
      a(href='//wellsfargomedia.com/lib/dev/modal.css' target='code')    .css
      a(href='//wellsfargomedia.com/lib/dev/modal.js' target='code')     .js1
      a(href='//wellsfargomedia.com/lib/dev/dialog.js' target='code')    .js2
    li loader
      a(href='//wellsfargomedia.com/lib/dev/loader.css' target='code')   .css
      a(href='//wellsfargomedia.com/lib/dev/loader.js' target='code')    .js
      a(href='//wellsfargomedia.com/lib/dev/loader.gif' target='code')   .gif1
      a(href='//wellsfargomedia.com/lib/dev/loading.gif' target='code')  .gif2
    li init
      a(href='javascript: $("#Init").toggle();') example

//./_live.pug
