#Xyz
  strong Live stuff
  ul
    li expander
      a(href='//wellsfargomedia.com/lib/dev/expander.css' target='code') .css
      a(href='//wellsfargomedia.com/lib/dev/expander.js' target='code')  .js
    li loader
      a(href='//wellsfargomedia.com/lib/dev/loader.css' target='code')   .css
      a(href='//wellsfargomedia.com/lib/dev/loader.js' target='code')    .js
      a(href='//wellsfargomedia.com/lib/dev/loader.gif' target='code')   .gif
      a(href='//wellsfargomedia.com/lib/dev/loading.gif' target='code')  /.gif
    li revealer
      a(href='//wellsfargomedia.com/lib/dev/revealer.js' target='code')  .js

//./_live.pug
