#Loader
  strong Loader
  ul
    li
      a(href='./styles/loader.css' target='_blank') loader.css
    li
      a(href='./scripts/loader.js' target='_blank') loader.js
    li
      a(href='./images/stock/loader.gif' target='_blank') loader.gif
    li
      a(href='./images/stock/loading.gif' target='_blank') loading.gif

///_loader.pug
