#Pusher.boxy
  strong
    a(href='index-push.html') Pusher
  ul
    li
      a(href='./scripts/pusher.js' target='_blank') pusher.js
    li
      a(href='./scripts/poster.js' target='_blank') poster.js

  form
    input(type='file')
    a.preview(href='#' target='wp')
      br
      span ...
      br
      img(src='#' alt='')

///_mod-pusher.pug
