div.modal
  // OFFSITE DIALOG 
  div.dialog

    div.header
      debug [async main_dialog]
      img(alt='' src='../images/logos/wf-square.svg')

    div.content
      h2 You are leaving this Wells Fargo website
      p
        | You are leaving a Wells Fargo site and entering a website that Wells Fargo does not control.
        | Wells Fargo has provided this link for your convenience,
        | but does not endorse and is not responsible for the content,
        | links, privacy policy, or security policy of this website.

    div.footer
      a.cancel(href='javascript:;') Cancel
      a.utilitybtn Continue
