#Pusher.boxy
  strong
    a(href='index-push.html') Pusher
  ul
    li
      a(href='./scripts/libs/jq-pusher.js' target='_blank') jq-pusher.js
    li
      a(href='./scripts/libs/dt-poster.js' target='_blank') dt-poster.js

  form(style='display: none;')
    input(type='file')
    a.preview(href='#' target='wp')
      br
      span ...
      br
      img(src='#' alt='')

///_mod-pusher.pug
