#Expander.boxy
  strong
    a(href='index-exp.html') Expander
  ul
    li
      a(href='./styles/expander.css' target='_blank') expander.css
    li
      a(href='./scripts/expander.js' target='_blank') expander.js

  button(onclick='try{ _exp.kill();_exp.init();           }catch(z){}') init
  button(onclick='try{ _exp.kill();                       }catch(z){}') kill
  button(onclick='try{ _exp.kill();_exp.init().restore(); }catch(z){}') init + restore
  br

///boxes/_mod-expander.pug
