#Pusher.boxy
  strong Pusher
  ul
    li
      a(href='./scripts/pusher.js' target='_blank') pusher.js

  form
    input(type='file')
    a.preview(href='#' target='wp')
      br
      span ...
      br
      img(src='#' alt='')

///_pusher.pug
