#Revealer.boxy
  strong Revealer
  ul
    li
      a(href='./scripts/revealer.js' target='_blank') revealer.js

  button(onclick='try{ _rev.kill();_rev.init().next(1) }catch(z){}') init 1
  button(onclick='try{ _rev.kill();_rev.init().next(2) }catch(z){}') init 2
  button(onclick='try{ _rev.kill();                    }catch(z){}') kill
  br

///_revealer.pug
