#Blog

  .external-blog
    article#post-18
      header.entry-header
        img.wp-post-image
        .wrapper
          h2.entry-title
            a
      .entry-content
    article#post-17
      header.entry-header
        img.wp-post-image
        .wrapper
          h2.entry-title
            a
      .entry-content
    article#post-16
      header.entry-header
        img.wp-post-image
        .wrapper
          h2.entry-title
            a
      .entry-content
    article#post-15
      header.entry-header
        img.wp-post-image
        .wrapper
          h2.entry-title
            a
      .entry-content

///_sample-blog.pug
