#grid-preview
  div
    div
      div.panel-cell-style
        div.widget
          div.ex-init a
        div.widget
          div.ex-init b
        div.widget
          div.ex-init c
        div.widget
          div.ex-init d
        div.widget(style='width: 800px;')
          div dd
        div.widget
          div.ex-init e
        div.widget force use of innerHTML

button.loadmore Load more
    br
