#grid-preview
  div
    div
      div.panel-cell-style
        div.widget a
        div.widget b
        div.widget c
        div.widget d
        div.widget e
        div.widget f

#grid-content
  div
    div
      div.widget
        p foo1
        p bar1
        p baz1

      div.widget
        p foo2
        p bar2
        p baz2

//
