doctype html
html
  head
    include ./include/_head-meta.pug

    title Demo Misc

    include ./include/_head-styles.pug

    script _main = '_main-misc';
    include ./include/_head-script.pug

  body.loading

    .page
      include ./include/_body-outside.pug

      // MODS...
      include ./mods/_misc.pug
      include ./mods/_exitlinker.pug

      ///page

    include ./samples/_grid-content.pug
