doctype html
html
  head
    include ./include/_head-meta.pug

    title Demo Revealer

    include ./include/_head-styles.pug
    link(href='./styles/expander.css', rel='stylesheet', media='all')

  body

    .page
      include ./include/_body-outside.pug

      // MODS
      include ./mods/_revealer.pug

      // DEMO
      include ./samples/_grid-preview.pug
    ///page

    include ./samples/_grid-content.pug
