doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Template

    include ./_head-styles.pug

    link(href='./styles/expander.css', rel='stylesheet', media='all')

  body.loading

    .page
      include ./_header.pug
      include ./_footer.pug

      // MODS
      include ./_mod-grocer.pug

      // DEMO
      include ./_blog.pug

      p relies on wordpress backends
    ///page

    include ./_grid-content.pug
