doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Template

    include ./_head-styles.pug

    link(href='./styles/expander.css', rel='stylesheet', media='all')

    include ./_head-scripts.pug

  body.loading

    .page
      include ./_header.pug
      include ./_footer.pug

      // MODS
      include ./_mod-expander.pug
      include ./_mod-grocer.pug
      include ./_mod-revealer.pug
      include ./_mod-modal.pug
      include ./_mod-loader.pug
      include ./_mod-pusher.pug
      // mods
      include ./_live.pug
      include ./_sample-inits.pug

      // DEMO
      include ./_blog.pug
      include ./_grid-preview.pug
    ///page

    include ./_grid-content.pug

    include ./__modal.pug
