doctype html
html
  head
    include ./include/_head-meta.pug

    title Demo Template

    include ./include/_head-styles.pug
    link(href='./styles/expander.css', rel='stylesheet', media='all')

    script _main = '_main';
    include ./include/_head-script.pug

  body.loading

    .page
      include ./include/_body-outside.pug

      // MODS
      ul
        li: a(href='index-all.html') All
        li: a(href='index-expander.html') Expander
        li: a(href='index-grocer.html') Grocer
        li: a(href='index-revealer.html') Revealer
        li: a(href='index-loader.html') Loader
        li: a(href='index-pusher.html') Pusher
      include ./mods/_modal.pug
      include ./mods/_live.pug

      // DEMO

      ///page

    include ./samples/_modal.pug
