doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Template

    include ./_head-styles.pug
    link(href='./styles/expander.css', rel='stylesheet', media='all')
    //
    script
      | var z = ['<script data-main="./config" src="./', '.js"><\/script>'];
      | window._shim = (location.hash.toLowerCase() === '#shim');
      | z = z[0] + (window._shim ? 'scripts/_main' : 'vendors/require.js/require') + z[1];
      | document.write(z);

  body.loading

    .page
      include ./_header.pug
      include ./_footer.pug

      // MODS
      include ./_mod-revealer.pug

      // DEMO
      include ./_grid-preview.pug
    ///page

    include ./_grid-content.pug
