doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Demo Loader

    include ./include/_head-styles.pug

    script _main = '_main-misc';
    include ./include/_head-script.pug

  body.loading

    .page
      include ./include/_body-outside.pug

      // MODS...
      include ./mods/_misc.pug

      ///page

    include ./samples/_grid-content.pug
