doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Template

    link(href='./fonts/archer.ssm.css', rel='stylesheet', media='all')
    link(href='./fonts/myriad.css', rel='stylesheet', media='all')
    link(href='./fonts/myriad.con.css', rel='stylesheet', media='all')

    link(href='./styles/main.css', rel='stylesheet', media='all')
    link(href='./styles/expander.css', rel='stylesheet', media='all')
    link(href='./styles/loader.css', rel='stylesheet', media='all')
    link(href='./styles/modal.css', rel='stylesheet', media='all')

    script(data-main='./config', src='./vendors/require.js/require.js')

  body.loading

    .page
      //_header.pug
      include ./_header.pug

      //_expander.pug
      include ./_expander.pug
      //_revealer.pug
      include ./_revealer.pug
      //_loader.pug
      include ./_loader.pug
      //_live.pug
      include ./_live.pug

      //_test.pug
      include ./_test.pug

    #grid-content
      div
        div
          div.widget
            p foo1
          div.widget
            p bar1
            p bar1
            p bar1
          div.widget
            p baz1
          div.widget
            p foo2
          div.widget
            p bar2
            p bar2
            p bar2
            p bar2
          div.widget
            p baz2

      //_footer.pug
      include ./_footer.pug

      //_modal.pug
      include ./_modal.pug
