doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Demo Expander

    include ./include/_head-styles.pug

    link(href='./styles/expander.css', rel='stylesheet', media='all')

  body

    .page
      include ./include/_body-outside.pug

      // MODS
      include ./mods/_expander.pug

      // DEMO
      include ./samples/_grid-preview.pug
    ///page

    include ./samples/_grid-content.pug
