doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Template

    include ./_head-styles.pug

    script(data-main='./scripts/_main-push' src='./vendors/require.js/require.js')

  body

    .page
      include ./_header.pug
      include ./_footer.pug

      // MODS
      include ./_mod-pusher.pug

      p relies on wordpress backends
    ///page

    include ./_grid-content.pug
