doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Template

    link(href='./fonts/archer.ssm.css', rel='stylesheet', media='all')
    link(href='./fonts/myriad.css', rel='stylesheet', media='all')
    link(href='./fonts/myriad.con.css', rel='stylesheet', media='all')

    link(href='./styles/main.css', rel='stylesheet', media='all')
    link(href='./styles/expander.css', rel='stylesheet', media='all')
    link(href='./styles/loader.css', rel='stylesheet', media='all')
    link(href='./styles/modal.css', rel='stylesheet', media='all')

    script(src='./vendors/jquery/jquery.js')
    script(src='./scripts/libs/jq-xtn.js')

    script
      | var z = ['<script data-main="./config" src="./', '.js"><\/script>'];
      | window._shim = (location.hash.toLowerCase() === '#shim');
      | z = z[0] + (window._shim ? 'scripts/_main' : 'vendors/require.js/require') + z[1];
      | document.write(z);

  body.loading#pg-54-7

    .page
      //_header.pug
      include ./_header.pug

      //_expander.pug
      include ./_expander.pug
      //_grocer.pug
      include ./_grocer.pug
      //_revealer.pug
      include ./_revealer.pug
      //_modal.pug
      include ./_modal.pug
      //_loader.pug
      include ./_loader.pug
      //_live.pug
      include ./_live.pug

      //_init.pug
      include ./_init.pug
      //_pusher.pug
      include ./_pusher.pug

      //_blog.pug
      include ./_blog.pug
      //_test.pug
      include ./_test.pug
    ///page

    #grid-content
      div
        div
          div.widget
            p foo1
          div.widget
            p bar1
            p bar1
            p bar1
            p bar1
            p bar1
            p bar1
            p bar1
          div.widget
            p baz1
          div.widget
            p foo2
          div.widget
            p bar2
          div.widget
            p baz2

    //_footer.pug
    include ./_footer.pug

    div.modal
      // OFFSITE DIALOG 
      div.dialog

        div.header
          img.logo(alt='' src='./images/stock/wf-square.svg')

        div.content
          h2 You are leaving this Wells Fargo website
          p
            | You are leaving a Wells Fargo site and entering a website that Wells Fargo does not control.
            | Wells Fargo has provided this link for your convenience,
            | but does not endorse and is not responsible for the content,
            | links, privacy policy, or security policy of this website.

        div.footer
          a.cancel(href='javascript:;') Cancel
          a.utilitybtn Continue

      ///modal
