doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Template

    include ./_head-styles.pug
    link(href='./styles/expander.css', rel='stylesheet', media='all')

    script _main = '_main';
    include ./_head-script.pug

  body.loading

    .page
      include ./_body-header.pug
      include ./_body-footer.pug

      // MODS
      include ./_mod-expander.pug
      include ./_mod-grocer.pug
      include ./_mod-revealer.pug
      include ./_mod-modal.pug
      include ./_mod-loader.pug
      // mods
      include ./_live-mods.pug
      include ./_sample-inits.pug
      include ./_mod-pusher.pug

      // DEMO
      include ./_sample-blog.pug
      include ./_grid-preview.pug
    ///page

    include ./_grid-content.pug

    include ./_sample-modal.pug
