doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Template

    link(href='./fonts/archer.ssm.css', rel='stylesheet', media='all')
    link(href='./fonts/myriad.css', rel='stylesheet', media='all')
    link(href='./fonts/myriad.con.css', rel='stylesheet', media='all')

    link(href='./styles/main.css', rel='stylesheet', media='all')
    link(href='./styles/expander.css', rel='stylesheet', media='all')

    script(data-main='./config', src='./vendors/require.js/require.js')

  body

    .page
      //_header.pug
      include ./_header.pug

      ul
        li
          a(href='//wellsfargomedia.com/lib/dev/expander.css' target='_blank') get live expander.css
        li
          a(href='//wellsfargomedia.com/lib/dev/expander.js' target='_blank')  get live expander.js
        li
          a(href='//wellsfargomedia.com/lib/dev/revealer.js' target='_blank')  get live revealer.js

      //_test-expander.pug
      include ./_test-expander.pug

      br
      hr
      br

      //_test-revealer.pug
      include ./_test-revealer.pug

      //_footer.pug
      include ./_footer.pug
