doctype html
html
  head
    include ./include/_head-meta.pug

    title Demo Pusher

    include ./include/_head-styles.pug

    script _main = '_main-push';
    include ./include/_head-script.pug

  body

    .page
      include ./include/_body-outside.pug

      // MODS
      include ./mods/_pusher.pug

      p relies on wordpress backends
    ///page

    include ./samples/_grid-content.pug
