#Blog
  details
    h3 Blog post slots for Grocer...
  .external-blog
    article
      header.entry-header
        img.wp-post-image(alt='img')
        .wrapper
          h2.entry-title
            a entry-title
      .entry-content entry-content
    article
      header.entry-header
        img.wp-post-image(alt='img')
        .wrapper
          h2.entry-title
            a entry-title
      .entry-content entry-content
    article
      header.entry-header
        img.wp-post-image(alt='img')
        .wrapper
          h2.entry-title
            a entry-title
      .entry-content entry-content
    article
      header.entry-header
        img.wp-post-image(alt='img')
        .wrapper
          h2.entry-title
            a entry-title
      .entry-content entry-content
  br
  ///samples/_blog.pug
