#Grid-preview
  details
    h3 Tiles for Expander and/or Revealer...
  div
    div
      div.panel-cell-style
        div#panel-54-0-0-0.widget
          div a
        div#panel-54-0-0-1.widget
          div.ex-init b
        div#panel-54-0-0-2.widget
          div.ex-init c
        div#panel-54-0-0-3.widget
          div.ex-init d
        div#panel-54-0-0-4.widget(style='width: 99%;')
          div dd
        div#panel-54-0-0-5.widget
          div.ex-init e
          p force use of re-wrap
        div#panel-54-0-0-6.widget
          div.ex-init e

  button.loadmore Reveal more

  ///samples/_grid-preview.pug
