#Outside
  header
    div
      a(href='.')
        img.svg.logo(alt='Wells Fargo',
        style='margin-right: 2rem; height: 5rem; width: 5rem;',
        src='./images/stock/wf-square.svg')
      h1.inline Tempkit &nbsp;|&nbsp; Winter 2017

  header.mobile
    div
      a(href='.')
        img.logo.svg(alt="Wells Fargo",
            style='color: #FCC60A; height: 1.5rem;',
            src="./images/stock/wf-oneline.svg")
    h1.inline Tempkit

  footer
    p.exit-link-notice.
      ‡ We provide these links to external websites for your convenience.
      Wells Fargo does not endorse and is not responsible for their content,
      links, privacy policies, or security policies.
    p
      | © 2016 Wells Fargo Bank, N.A. All rights reserved. ECG-???????
      button(onclick='shimmy()' style='float: right;')
        | tog#shim

  ///_body-outside.pug
