script(src="./scripts/_def_.js")
script
  | _shim = (location.hash.toLowerCase() === '#shim');
  | if (_shim) {
  |   document.write('<' + 'script src="./vendors/jquery/jquery.js"><\/' + 'script>');
  |   document.write('<' + 'script src="./scripts/libs/jq-xtn.js"><\/' + 'script>');
  | }
  | var z = './scripts/' + (_main || '_main');
  | z = [('<' + 'script data-main="' + z + '" src="./'), '?', ('.js"><\/' + 'script>')];
  | z[1] = (_shim ? 'scripts/' + (_main || '_main') : 'vendors/require.js/require');
  | document.write(z.join(''));
script
  | function shimmy() {
  |   location.hash = location.hash ? '' : 'shim';
  |   location.reload();
  | }
