#Revealer.boxy
  strong Exit Linker
  ul
    li: a(href='./scripts/exitlinker.js' target='_blank') exitlinker.js
    li: a(href='https://wf.com/link') https://wf.com/link
    li: a(href='https://wellsfargo.com/link') https://wellsfargo.com/link
    li: a(href='https://wellsfargomedia.com/link') https://wellsfargomedia.com/link
    li: a(href='https://some.external.site.com/link') https://some.external.site.com/link
  br

  ///mods/_exitlinker.pug
