#Misc.boxy
  strong
    | Miscellaneous
  ul
    li
      a(href='index-misc.html') go to test page
    li
      a(href='./scripts/libs/dt-roman.js' target='_blank') dt-roman.js
    li.roman
      | #[a(href='javascript:;') test Roman] (in console)
    li
      a(href='./scripts/revexp.js' target='_blank') revexp.js

  ///mods/_misc.pug
