#Misc.boxy
  strong
    | Miscellaneous
  ul
    li
      a(href='./scripts/_def_.js' target='_blank') _def_.js
    li
      a(href='./scripts/autoreveal.js' target='_blank') autoreveal.js
    li
      a(href='./scripts/libs/dt-roman.js' target='_blank') dt-roman.js
      hr
    li
      a(href='index-misc.html') go to test page
    li.roman
      | #[a(href='javascript:;') test Roman] (in console)

  ///mods/_misc.pug
