#Modal.boxy
  strong Interstitial
  ul
    li
      a(href='./styles/modal.css' target='_blank') modal.css
    li
      a(href='./scripts/modal.js' target='_blank') modal.js
    li
      a(href='./scripts/dialog.js' target='_blank') dialog.js

  button.external-link test
  br

  ///mods/_modal.pug
