#Pusher.boxy
  strong
    | Pusher
  ul
    li
      a(href='index-push.html') go to test page
    li
      a(href='./scripts/libs/jq-pusher.js' target='_blank') jq-pusher.js
    li
      a(href='./scripts/libs/dt-poster.js' target='_blank') dt-poster.js

  form(style='display: none;')
    h4 &darr; TRY IT
    input(type='file')
    a.preview(href='#' target='wp')
      br
      span ...
      br
      img(src='#' alt='')

  ///mods/_pusher.pug
